/* ==========================================================================
  Header Styling
========================================================================== */

.header__container {
  display: flex;
  align-items: center;

  border-bottom: $border-main
}

/* ==========================================================================
 Logo Styling
========================================================================== */

.logo__container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 56px;
  width: 390px;
  letter-spacing: $letter-spacing;
  border-right: $border-main;
}

.logo__logo-text {
  font-size: 32px;
  font-weight: bold;
}

/* ==========================================================================
  Searchbar Styling
========================================================================== */

.searchbar__container {
  display: flex;
  flex-grow: 1;
  min-height: 56px;
}

.searchbar__input {
  outline: none;
  border: none;
  padding: 8px;
  width: 100%;

  &::-webkit-input-placeholder {color: #222;}
}


.searchbar__search {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 $border-radius 0 0;
  letter-spacing: $letter-spacing;
  height: 64px;
  width: 124px;
  padding: 8px;
  background: $orange;
  color: white;
  font-size: 16px;
  font-style: italic;
  font-weight: medium;
}




