.content__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: $border-radius;
  max-width: 900px;
}

.content__header {
  width: 100%;
  margin-bottom: 15px;
  padding: 15px;
  box-shadow: $card-shadow;
  font-weight: bold;
  letter-spacing: $letter-spacing;
}