/* ==========================================================================
  Sidebar Styling
========================================================================== */
.sidebar__container {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-right: 32px;
}

/* ==========================================================================
  Userstats Styling
========================================================================== */
.userstats__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  box-shadow: $card-shadow;

  border-radius: $border-radius;
  padding: 20px 8px;
}

/* Avatar Styling */

.avatar__container {

}

.avatar__image {
  border-radius: 50%;
  width: 128px;
  height: 128px;
}

/* Stats */

.stats__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.stats__stats-table {
 width: 60%;
 
 tr td:first-child {
   font-weight: bold;
 }
}

.stats__username {
  font-size: 34px;
  padding: 10px;
  font-weight: bold;
}

/* ==========================================================================
  Menu Styling
========================================================================== */
.menu__container {
  display: flex;
  flex-direction: column;
  box-shadow: $card-shadow;
  border-radius: $border-radius;

}

.menu__title {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 16px 20px;
  font-weight: 500;
  border-bottom: $border-main;
}

.menu__item {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 32px 8px;
  border-bottom: $border-main;
  &:last-child {
    border-bottom: none;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    
    i {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
      margin: 0 10px;
      border-radius: 50%;
      color: white;

      &.green {background-color: #91cc4e }
      &.blue {background-color: #4d8aff}
      &.orange {background-color: #ffb93f }
   }
  }

}
