.overstats__container {
  display: flex;
  flex-direction: column;
}

.header__container {
  display: flex;
}

.main__container {
  display: flex;
}

.sidebar__container {
  display: flex;
  flex-direction: column;
}