#root {
  background: #fafafa;
  min-height: 100vh;
  padding: 50px;
  @include background();

}
.overstats__container {
  display: flex;
  flex-direction: column;
  width: 1400px;
  border-radius: $border-radius;
  background: #fff;
  box-shadow: $box-shadow;
  margin: 0 auto;

  @media screen and (max-width: 1440px) {
    max-width: 1300px;
  }
}

.main__container {
  display: flex;
  padding: 32px;

  height: calc(100% - 65px);
  overflow: hidden;
}


