#root {
 background: #fafafa;
}
.overstats__container {
  display: flex;
  flex-direction: column;
  width: 1400px;
  margin: 20px auto;
  border-radius: 4px;
  border: 1px solid #f00;
  background: #fff;
}

.main__container {
  display: flex;
  padding: 32px;

  height: calc(100% - 65px);
  overflow: hidden;
}


